<!-- BEGIN PAGE BAR -->

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <h2>PRINCIPAL - PSICOLOGA</h2>
            <i class="fa fa-circle"></i>
        </li>
        
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<br />
<!-- END PAGE TITLE-->
<div class="portlet box purple">

    <div class="portlet-title">
        
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>

    </div>
    <div class="row">
        <!-- Dropdown menu escolha do curso-->
        <div class="col-md-3">
            <div class="form-group">
                <select class="selectpicker form-control" data-ng-model="cursoSelected" data-ng-options="curso.nome for curso in cursos">
                    <option value="">Select Curso *</option>
                </select>
            </div>

        </div>
        <!-- Dropdown menu escolha do ano-->
        <div class="col-md-3">
            <div class="form-group">
                <select class="selectpicker form-control" data-ng-model="anoSelected" data-ng-options="year.ano for year in _ano">
                    <option value="">Select Ano *</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="input-group">
                <input type="radio" aria-label="..."> 1º Semestre
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <input type="radio" aria-label="..."> 2º Semestre
            </div>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="func();"><span class="glyphicon glyphicon-search"></span></button>
        </div>

    </div>

    

    <div class="portlet-body">
        
        
        <!-- BEGIN FORM-->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>RA</th>
                        <th>Nome</th>
                        <th>Situação</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in alunos">
                        <td>{{item.id}}</td>
                        <td>{{item.nome}}</td>
                        <td>
                            {{item.situacao}}
                            <!--<a class="btn btn-danger" ng-really-message="Are you sure you want to delete ?" ng-really-title="Confirmation" ng-really-click="userDelete(item.Id);"> <i class="fa fa-trash-o"></i></a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END FORM-->
    </div>
</div>