<!-- BEGIN REGISTER FORM -->
<form class="login-form" role="form">
    <div class="form-title">
        <span class="form-title">Bem vindo!</span>
        <br />
        <span class="form-subtitle">Insira algumas informa&ccedil&otildees.</span>
    </div>
</form>
<hr />
<br />
<div class="panel panel-primary">
    <div class="panel-heading">Informa&ccedil&otildees {{institution.cnpj | cnpj}}</div>

    <div class="panel-body">

        <div id="main" class="container-fluid" style="width:500px">
            <form role="form">
                <!-- caso atributo loginState seje verdadeiro ativa essa função-->
                <div class="alert alert-danger" ng-if="registerState">
                    <button class="close" data-close="alert"></button>
                    <span>
                        Verifique suas informa&ccedil&otildees!
                    </span>
                </div>
                <!-- INICIO DADOS DA FATEC -->
                <div class="row">
                    <!--teste-->
                    <div class="form-group col-xs-12">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <!--<label class="control-label visible-ie8 visible-ie9">Nome</label>-->
                        <input class="form-control form-control-solid placeholder-no-fix" data-ng-model="institution.company" type="text" autocomplete="off" placeholder="Razao Social" name="razão-social" />
                    </div>
                </div>
                <div class="row">
                    <!--teste-->
                    <div class="form-group col-xs-12">
                        <!--<label class="control-label visible-ie8 visible-ie9">RA</label>-->
                        <input class="form-control form-control-solid placeholder-no-fix" data-ng-model="institution.cnpj" type="text" size=18 maxlength=18 autocomplete="off" placeholder="CNPJ" name="cnpj" />
                    </div>
                </div>
                <div class="row">
                    <!--teste-->
                    <div class="form-group col-xs-12">
                        <!--<label class="control-label visible-ie8 visible-ie9">RA</label>-->
                        <input class="form-control form-control-solid placeholder-no-fix" data-ng-model="institution.city" type="text" autocomplete="off" placeholder="Cidade" name="cidade" />
                    </div>
                </div>
                <!-- FIM DADOS DA FATEC -->

                <!-- INICIO DADOS DA USUARIO -->
                <div class="row">
                    <!--teste-->
                    <div class="form-group col-xs-12">
                        <!--<label class="control-label visible-ie8 visible-ie9">RA</label>-->
                        <input class="form-control form-control-solid placeholder-no-fix" data-ng-model="user.name" type="text" autocomplete="off" placeholder="Nome" name="nome" />
                    </div>
                </div>
                <div class="row">
                    <!--teste-->
                    <div class="form-group col-xs-12">
                        <!--<label class="control-label visible-ie8 visible-ie9">Email</label>-->
                        <input class="form-control form-control-solid placeholder-no-fix" data-ng-model="user.userName" type="text" autocomplete="off" placeholder="Email *" name="Email" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <div class="input-group">
                            <!--<label class="control-label visible-ie8 visible-ie9">Senha</label>-->
                            <input class="form-control form-control-solid placeholder-no-fix" style="width:220px" data-ng-model="user.password" type="password" autocomplete="off" placeholder="Senha *" name="Senha" />
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <div class="input-group">
                            <!--<label class="control-label visible-ie8 visible-ie9">Senha2</label>-->
                            <input class="form-control form-control-solid placeholder-no-fix" style="width:220px; float:right" data-ng-model="user.password2" type="password" autocomplete="off" placeholder="Senha *" name="Senha" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-xs-12">
                        <div class="btn-group" role="group">
                            <a href="/Login.html" type="button" class="btn red btn-block uppercase">Entrar</a><!--chama pagina login-->
                        </div>
                        <div class="btn-group" role="group" style="float:right">
                            <!-- ng-click : chama função cadastrar(parametro) -->
                            <button class="btn btn-primary btn-block" ng-click="errorClass()" ng-disabled="!institution.company || !institution.cnpj || !institution.city || !user.name || !user.userName || !user.password || !user.password2">Cadastrar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div><!--fecha container-->
    </div><!--fecha panel body-->
    <div class="panel-footer"></div>
</div><!--fecha panel-->


<div class="well well-lg">Fatec 2016 - Todos direitos reservados</div>


<!-- END LOGIN FORM -->