    <!-- Custom styling plus plugins -->
<!--[if lt IE 9]>
    <script src="../assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


<br />
<h1>
    <span class="section">Curso</span>
</h1>
<br />

<div class="container body">

    <div class="item form-group">
        <label for="password2" class="control-label col-md-2 col-sm-2 col-xs-12">Descrição: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" ng-model="course.name" class="form-control col-md-7 col-xs-12" required="required">
        </div>
        <a ng-show="btnLabel == 'Adicionar'" class="btn btn-success" ng-click="courseAdd(course)"> <i class="fa fa-trash-o"></i> {{btnLabel}}</a>

        <a ng-show="btnLabel == 'Alterar'" class="btn btn-success" ng-click="courseUpdate(course)"> <i class="fa fa-trash-o"></i> {{btnLabel}}</a>
        <a ng-show="btnLabel == 'Alterar'" class="btn btn-warning" ng-click="courseCancel();"> <i class="fa fa-trash-o"></i> Cancelar</a>
    </div>


    <br />

    <div class="main_container">

        <!-- BEGIN FORM-->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in courses">
                        <td>{{item.name}}</td>
                        <td>
                            <a class="btn btn-danger" ng-really-message="Are you sure you want to delete ?" ng-really-title="Confirmation" ng-really-click="courseDelete(item.codeCourse);"> <i class="fa fa-trash-o"></i> Apagar</a>
                            <a class="btn btn-warning" ng-click="courseLoad(item);"> <i class="fa fa-trash-o"></i> Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END FORM-->

    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Smart Wizard
        $('#wizard').smartWizard();
        function onFinishCallback() {
            $('#wizard').smartWizard('showMessage', 'Finish Clicked');
            //alert('Finish Clicked');
        }
    });
</script>
