<form class="form-horizontal form-label-left" novalidate>

    <br />
    <h1>
        <span class="section">Perguntas - Adicionar</span>
    </h1>
    <br />
    <br />


    <center>
        <div class="blog-page blog-content-2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-single-content bordered blog-container">





                        <!--Começa formulario-->

                        <div class="item form-group">

                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Tipo do Conteúdo:
                            </label>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <label class="radio-inline">
                                    <input ng-model="question.type" type="radio" name="optradio" value="Pro">Texto
                                </label>
                                <label class="radio-inline">
                                    <input ng-model="question.type" type="radio" name="optradio" value="Business">Imagem
                                </label>
                                <label class="radio-inline">
                                    <input ng-model="question.type" type="radio" name="optradio" value="Business">Vídeo
                                </label>
                            </div>

                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Counteúdo:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input  id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="" required="required" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Pergunta:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="?" required="required" type="text">
                            </div>
                        </div>

                        <h3>Alternativas</h3>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            </label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input ng-model="question.answers[0]" type="text" class="form-control" placeholder="a)">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="setCurrentAnswer(question.answers[0], 'a)')" data-toggle="modal" data-target="#myModal" type="button">Competências</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            </label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input ng-model="question.answers[1] "type="text" class="form-control" placeholder="b)">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="setCurrentAnswer(question.answers[0], 'b)')" data-toggle="modal" data-target="#myModal"  type="button">Competências</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            </label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input ng-model="question.answers[2]" type="text" class="form-control" placeholder="c)">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="setCurrentAnswer(question.answers[0], 'c)')" data-toggle="modal" data-target="#myModal"  type="button">Competências</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            </label>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input ng-model="question.answers[3]" type="text" class="form-control" placeholder="d)">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="setCurrentAnswer(question.answers[0], 'd)')" data-toggle="modal" data-target="#myModal"  type="button">Competências</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div>


                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog" style="margin-top:10%;width:450px">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Competências</h4>{{alternativa}}
                                    </div>
                                    <div class="modal-body">


                                        <!-- BEGIN FORM-->
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Descrição</th>
                                                        <th>Peso</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--<tr data-ng-repeat="item in courses">-->
                                                    <tr>
                                                        <td>Liderança</td>
                                                        <td><input type="text" class="form-control" placeholder=""></td>

                                                        <!--<td>{{item.name}}</td>
                                                        <td>
                                                            <a class="btn btn-danger" ng-really-message="Are you sure you want to delete ?" ng-really-title="Confirmation" ng-really-click="courseDelete(item.codeCourse);"> <i class="fa fa-trash-o"></i> Apagar</a>
                                                            <a class="btn btn-warning" ng-click="courseLoad(item);"> <i class="fa fa-trash-o"></i> Editar</a>
                                                        </td>-->
                                                    </tr>
                                                    <tr>
                                                        <td>Compromisso</td>
                                                        <td><input type="text" class="form-control" placeholder=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Amor</td>
                                                        <td><input type="text" class="form-control" placeholder=""></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- END FORM-->



                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Salvar</button>
                                    </div>
                                </div>

                            </div>
                        </div>





                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancelar</button>
                                <button id="send" type="submit" class="btn btn-success">Salvar</button>
                            </div>
                        </div>


                        <!--Termina formulario-->







                    </div>
                </div>
            </div>
        </div>
    </center>
</form>